*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    width: 500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 100px;
    padding-bottom: 70px;
    /* border: 1px solid rgb(16, 16, 16); */
    border-radius: 10%;
    text-align: center;
    background-color: rgb(198, 155, 155);
    box-shadow: 3px 5px 4px rgba(92, 86, 86, 0.79);
}

input{
    margin-top: 10px;
    padding: 15px;
    border-radius: 7px;
    background: rgb(57, 48, 48);
}
#color{
    padding: 1px;
    margin-right: 130px;
    background: rgb(113, 110, 104);
}